/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea/
_ide_helper.php
public/public/bower_components/
public/storage/exams/exams/*
public/storage/exams/corrections/*
public/storage/bacs/exams/*
public/storage/bacs/corrections/*
public/tmp/
public/storage
public/styles/
public/gulp-build/


.elasticbeanstalk/logs/
